{% extends "base.html" %} {% block content %}
<section class="card narrow">
  <h2>Contact</h2>
  <p>Want to reach out? Use the links below.</p>
  <div class="cta-row">
    <a class="btn" href="savvy516.forthright@gmail.com">Email</a>
    <a
      class="btn btn-outline"
      target="_blank"
      href="https://github.com/shikhayadav-234"
      >GitHub</a
    >
    <a
      class="btn btn-outline"
      target="_blank"
      href="https://www.linkedin.com/in/shikha-yadav-a89b19291/"
      >LinkedIn</a
    >
  </div>
</section>
{% endblock %}
