{% extends "base.html" %} {% block content %}
<section class="card narrow">
  <h2>Contact</h2>
  <p>Want to reach out? Use the links below.</p>
  <div class="cta-row">
    <!-- Email (default email app) -->
    <a
      class="btn"
      target="_blank"
      href="https://mail.google.com/mail/?view=cm&fs=1&to=savvy516.forthright@gmail.com&su=Hello%20Shikha&body=I%20want%20to%20connect%20with%20you."
    >
      Email
    </a>

    <!-- GitHub -->
    <a
      class="btn btn-outline"
      target="_blank"
      href="https://github.com/shikhayadav-234"
    >
      GitHub
    </a>

    <!-- LinkedIn -->
    <a
      class="btn btn-outline"
      target="_blank"
      href="https://www.linkedin.com/in/shikha-yadav-a89b19291/"
    >
      LinkedIn
    </a>
  </div>
</section>
{% endblock %}

